@CHARSET "UTF-8";

	h1 {
        font-family: KaiTi;
	}

	h2 {

        font-family: KaiTi;
	}

	p  {
		font-family: Georgia;
	}

	table {
		margin: 1em auto; 
	}

	body {
		/*background-color: #EBC79E;*/
		background-color: #EEEEEE;
	}

	div {
		margin: 0 auto;
	}

	p {
		text-indent:5em;
	}
	
	li {
		list-style:none;
	}
	
	li.pageUpDown {
		display:inline
	}
	
	.main {
		background-color:#eeeeee;
		text-align:center;
		padding: 5px;
		font-family: san-serif;
	}
	
	.text {
		background-color:#eeeeee;
		text-align:center;
		padding: 5px;
		font-family: san-serif;
	}
	
	.article {
		background-color:#eeeeee;
		text-align:center;
		padding: 5px;
		font-family: san-serif;
	}
	.article li{
		list-style:none;
	}
	
	.article li.title{
		background-color:white;
		color:black;
		}
	.article li.detail{
		background-color:white;
		color:black;
		}
	.article li.date{
		background-color:white;
		color:black;
		}
	.articlelist {
		background-color:#eeeeee;
		text-align:center;
		padding: 5px;
		font-family: san-serif;
	}
	
	.articlelist li{
		list-style:none;
	}
	
	
	.articlelist li.pageUpDown{
		color:black;
		display:inline;
		}
	
	.logBox {
		width:360px;
	}
	
	.logBox li {
		list-style:none;
		float:left;
		height:36px;
		line-height:36px;
		text-align:center;
		border:1px solid #999;
	}
	
	.logBox li.tag{
		width:80px;
	}
	
	.logBox li.inputBox{
		width:200px;
	}
	
	.logBox li.button{
		width:200px;
	}
	
	html body{
		height:100%;
		margin:0;
		padding:0;
	}
	
	#header {
		background-color:black;
		color:white;
		text-align:center;
		padding:5px;
	}
	
	#nav {
		background-color:grey;
		width:100px;
		height:600px;
		float:left;
		padding:5px;
	}
	
	#nav li {
		list-style:none;
	}
	
	#nav li a {
		font-family:KaiTi;
		font-size:20px;
		line-height:30px;
	}
	
	#nav li a:link {
		text-decoration:none;
		color:black;
	}
	
	#nav li a:visited{
		color:#black;
	}
	
	#nav li a:hover{
		color:#eeeeee;
	}
	
	#nav li a:active{
		color:#eeeeee;
	}
	
	#section {
		width:350px;
		float:left;
		padding:10px;
	}
	
	#footer {
		background-color:black;
		color:white;
		clear:both;
		text-align:center;
		padding:5px;
	}
	
	
	
	