@CHARSET "UTF-8";



h1 {
	text-align:center; 
	color:green; 
	font-size:32px;
}


h2 {
        text-align:center;
        color:green;
        font-size:24px;
}


p  {
	font-family: "sans erif";
}

table {
	margin: 2.5em auto; 
}

body {
	background-color: #8F8FBD;
}

div {
	margin: 0 auto;
}
